#signup-container{
    height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
#signup-container #signup-form{
    height: 500px;
    width: 350px;
    display:flex;
    flex-direction:column;
    align-items: center;
    border: 1px solid black;
}
#signup-container #signup-form #signup-header{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    font-size: 30px;
    font-weight: 600;
    margin-top: 5px;
    border-bottom: 1px solid black;
}
#signup-container #signup-form #signup-form-fields{
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width:100%;
    margin-top: 20px;
}
#signup-container #signup-form #signup-form-fields label{
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
}
#signup-container #signup-form #signup-form-fields input{
    margin-left: 20px;
    width: 80%;
    height: 30px;
    margin-bottom: 20px;
}
#signup-container #signup-form #signup-form-fields button{
    margin-left: 20px;
    width: 80%;
    height: 30px;
    background-color: black;
    color:white;
    border:none;
    cursor: pointer;
}
#signup-container #signup-form #signup-form-fields div{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
}
